html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}


body, ul, li , p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}

header{
    background: #b88d4d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

li > a{
    text-decoration: none;
    color: white;
}

.menu{
    display: flex;
}

.menu li {
    margin: 0px 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.menu a{
    background-color: #9c7242;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.562);
}

header img{
    width: 150px;
}

.home{
    height: 150px;
    text-align: center;
    background-image: url(./imgs/fundo.jpg);
    background-attachment: fixed;
    background-position: center 1100px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    padding: 10px;
    color: white;
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.50);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

section{
    margin: auto;
    max-width: 900px;
    border-style: double;
    margin-top: 1.5rem;
    border-color: #b88d4d;
    border-width: 8px;
    margin-bottom: 20px;
    padding: 5px 15px;
}

h3{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.sobre p{
    text-indent: 1.5em;
}

.content-center{
    background-color: #b88d4dbd;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 0px;
    box-sizing: border-box;
}

.opcao{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    word-break: break-word;
}

.redes{
    margin-top: 20px;
    display: flex;
    justify-content: center;

    align-items: flex-start;
}

a{
    margin-top: 10px;
    color: black;
}

.sociais{
    margin: 0px 10px ;
}

.ui-state-active{
    background: #b88d4d;
    border: 1px solid #000000;
}

@media screen and (max-width:1043px){
    .menu{
        display: block;
        text-align: center;
        padding: 1px;
    }

    .redes{
        font-size: 15px;
    }

    .content-center{
        display: block;
    }
}