<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style3.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <style>
    #feedback { font-size: 1.4em; }
    #selectable .ui-selecting { background: #FECA40; }
    #selectable .ui-selected { background: #F39814; color: white; }
    #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#selectable" ).selectable();
        });

    </script>
    <title>Cadastrar</title>
</head>
<body>
    <header>
        <a href="./"><img src="../static/imgs/logo.png" alt="logo"></a>
        <nav class="menu">
            <ul class="menu">
                <li>
                    <a href="./">Home</a>
                </li>
                <li>
                    <a href="./#sobre">Sobre</a>
                </li>
                <li>
                    <a href="./encomendar">Encomendar</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="tudo">
            <form action="/cadastrar" method="post" enctype="multipart/form-data">
                {{ MSG | safe }}
                <fieldset>
                    <legend><b>Fórmulário de Pedido</b></legend>
                    <br>
                    <div class="inputBox">
                        <input type="text" name="nome" id="nome" class="inputUser" required>
                        <label for="nome" class="labelInput">Nome completo</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="email" id="email" class="inputUser" required>
                        <label for="email" class="labelInput">Email</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="tel" name="telefone" id="telefone" class="inputUser" required>
                        <label for="telefone" class="labelInput">Telefone</label>
                    </div>
                    <br><br>

                    <div class="inputBox">
                        <input type="text" name="endereco" id="endereco" class="inputUser" required>
                        <label for="endereco" class="labelInput">Endereço</label>
                    </div>
                    <br><br>
                    <input type="submit" name="submit" class="submit">
                </fieldset>
            </form>
        </div>
    </section>
    <footer>
        <div class="content-center">
             <div class="opcao">
                 <h5>Contato</h5>
                 <div>

                     <p>Redes Sociais</p>
                     <div class="redes">
                         <div class="sociais">
                             <p>Instagram</p>
                             <a href="https://www.instagram.com/?hl=pt-br" target="_blank"><img src="../static/imgs/logo-insta.webp" width="35px" alt=""></a>
                         </div>
                         <div class="sociais">
                             <p>Facebook</p>
                             <a href="https://www.facebook.com/" target="_blank"><img src="../static/imgs/logo-face.png" width="30px" alt=""></a>
                         </div>
                         <div class="sociais">
                             <p>whatsapp</p>
                             <a href="https://api.whatsapp.com/send?phone=5561900001111" target="_blank"><img src="../static/imgs/logo-whats.png" width="23px" alt=""></a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="opcao">
                 <h5>serviços</h5>
                 <a href="./encomendar">Encomendar</a>

             </div>
             <div class="opcao">
                 <h5>Endereço</h5>
                 <p>Brasília- Brasil</p>
                 <p>Uniceub - Asa Norte</p>
                 <a href="tel:+6100001111">(61)90000-1111</a>
                 <a href="mailto:pizzadelicious@email.com">pizzadelicious@email.com</a>
             </div>
        </div>
     </footer>

</body>
</html>